<div id="object-data" data-object-id="{{ id }}">

    <div id="widget-working-area" class="col-8">
        <div id="widget-areas">
            {% for key,widget in widgets %}
                {{ render(controller('RiverwayCmsCoreBundle:Admin/Widget:widgetArea', {
                    sequence: key,
                    entity: widget
                })) }}
            {% endfor %}

        </div>
        <a class="add-widget-link" data-toggle="modal" data-target="#widget-types-modal">+</a>
    </div>
</div>

<div class="modal fade" id="widget-types-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Select a widget type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select name="widget-types">
                    {% for key in widgetTypes %}
                        <option value="{{ key }}">{{ key|trans }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button id="add-widget-btn" type="button" class="btn btn-primary">Select</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    <script>
        var drake = dragula([document.querySelector('#widget-areas')]);
        drake.on('drop', function (el) {
            var elId = el.getAttribute('id');
            var element = $('#' + elId);

            changeSequence(element);

            var newIndex = element.index('.widget-area');
            $('.widget-area:gt(' + newIndex + '):not(.gu-mirror)').each(function () {
                changeSequence($(this));
            });

        });

        function changeSequence(obj) {
            var index = obj.index('.widget-area');
            var seqNum = obj.attr('data-sequence');
            $('#app_{{ owner }}_widgets_' + seqNum + '_sequence').val(index + 1);
        }

        $('#widget-areas').on('click', '.delete-widget-link', function (e) {
            e.preventDefault();
            if (confirm('You are going to delete widget. Confirm?')) {
                $.post(
                    $(this).attr('href'),
                    {id: $(this).attr('data-target')},
                    function (response) {
                        console.log(response);
                        if (response.status == 'success') {
                            var link = $('a[data-target=' + response.deleted_id + ']');
                            var seqNum = link.closest('.widget-area').attr('data-sequence');
                            $('#app_{{ owner }}_widgets_' + seqNum + '_sequence').remove();
                            link.closest('.widget-area').remove();
                        }
                    });
            }
            return false;
        });

        $('#add-widget-btn').on('click', function () {
            var seqNum = $('.widget-area').length + 1;

            $.get(Routing.generate('create_{{ owner }}_widget', {
                type: $('select[name="widget-types"]').val(),
                id: $('#object-data').attr('data-object-id'),
                sequence: seqNum
            }), function (data) {
                $('#widget-areas').append(data);
                var html = '<div><div id="app_{{ owner }}_widgets_' + (seqNum - 1) + '">' + '<input type="hidden" id="app_{{ owner }}_widgets_' + (seqNum - 1) + '_sequence" name="app_{{ owner }}[widgets][' + (seqNum - 1) + '][sequence]" value="' + seqNum + '">' + '</div></div>';
                $('#app_{{ owner }}_widgets').append(html);

                $("#widget-types-modal").modal('hide');
                $('.widget-area:last-of-type .widget-edit-link').trigger('click');
            });
        });
    </script>
{% endblock %}