    {% if article is defined %}
        <div itemscope itemtype="http://schema.org/Article">
            <meta itemprop="name" content="{{ article.title }}">
            {% if schemaOrg.articleCategory is defined %}
            <meta itemprop="articleSection" content="{{ schemaOrg.articleCategory }}">
            {% endif %}
            {% if schemaOrg.articleDescription is defined %}
            <meta itemprop="description" content="{{ schemaOrg.articleDescription }}"/>
            {% endif %}
            {% if schemaOrg.image is defined %}
            <meta itemprop="image" content="{{ schemaOrg.image }}"/>
            {% endif %}
        </div>
        {% if article.metaDescription is not null %}
            <meta name="description" content="{{ article.metaDescription }}">
        {% endif %}
        {% if article.metaKeywords is not null %}
            <meta name="keywords" content="{{ article.metaKeywords }}">
        {% else %}
            <meta name="keywords" content="{{ article.title }}">
        {% endif %}
    {% endif %}
    {{ ogp()|raw }}