{% form_theme form with ['bootstrap_4_horizontal_layout.html.twig', 'TetranzSelect2EntityBundle:Form:fields.html.twig', 'RiverwayCmsCoreBundle:Form:fields.html.twig'] %}

<div class="widget-area" data-sequence="{{ sequence }}" id="widget_area_{{ widget.id }}">
    <div class="widget-header">
        {{ widget.name|trans }}
        <div class="action-bar widget-action-bar">
            <a class="delete-widget-link" data-target="{{ widget.id }}"
               href="{{ path('delete_widget') }}"><i class="fa fa-times"></i></a>
            <a data-target="{{ widget.id }}"
               href="#"><i class="fa fa-arrows draggable-link"></i></a>
        </div>
    </div>
    <div class="widget-content">
        {{ form_rest(form) }}
    </div>
</div>